.component {
  --theme-font: Arial, serif;
  --random-value: 4px;
}

@media (prefers-color-sheme: dark) {
  :root {
    --whateverbg: black;
    --whateverfg: tomato;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --whateverbg: #d52f2f;
    --whateverfg: black;
  }
}

body {
  background: var(--whateverbg);
  color: var(--whateverfg);
}
