:root {
  --theme-shadow-offset-y: 3px;
}

body {
  --theme-shadow-offset-y: 2px;
  background-color: var(--theme-color-white);
  box-shadow: var(--theme-shadow);
  font-family: var(--theme-font);
  text-shadow: var(--spacing) var(--theme-shadow-offset-y) 0px
      var(--theme-color-black),
    var(--spacing) calc(var(--theme-shadow-offset-y) * -1) 4px
      var(--theme-color-black);
}

p {
  font-family: var(--theme-font);
}
